@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
}

.container {
  background-color: #2f004f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  color: white;
  text-align: center;
  font-family: 'Happy Monkey';
}

button {
  font-family: 'Happy Monkey';
}

h1,
h2 {
  margin: 10px;
}

.answer {
  background: #eabfcb;
  color: #2f004f;
  padding: 5px 10px 5px 25px;
  width: 100%;
  height: 100%;
  text-align: left;
  position: relative;
  font-size: 16px;
  cursor: pointer;
  transition: ease-in-out, width 0.35s ease-in-out;
  border-radius: 20px;
  border: none;
}

.answer.selected {
  color: #ffff;
  background-color: #c191a1;
}

.answer:hover {
  color: #ffff;
  background-color: #c191a1;
}

.answer:focus {
  outline: none;
}

.results span.correct {
  color: #c8ffbb;
}

.results span.failed {
  color: #c21e56;
}

.error {
  color: #c21e56;
}

.letter {
  color: #4f4c4c;
  display: none;
  width: 30px;
  position: absolute;
  left: 0;
  text-align: center;
  height: 28px;
  top: 0;
  padding: 5px;
  text-transform: uppercase;
}

.btn {
  padding: 10px 50px;
  font-size: 18px;
  margin-top: 3rem;
  cursor: pointer;
}

.btn-primary {
  color: #2f004f;
  background-color: #eabfcb;
  border: none;
  border-radius: 12px;
}

.btn-primary:hover {
  background-color: #c191a1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 350px);
  grid-template-rows: repeat(2, 120px);
  gap: 2rem;
  justify-items: center;
  margin-top: 3rem;
}

.results {
  margin-bottom: 1rem;
}
